# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/.env

# Builds
frontend/build/
backend/dist/

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
git --version

